.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.meal select:disabled {
  color: gray;
}

.button1{
    float: right;
    margin-right: 22%;
    font-weight: 640;
    background: linear-gradient(to left, grey, lightgrey);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 12px;
}

.button1:hover{
  background: linear-gradient(to right, Grey , lightGrey);
}

.button1:active{
  background: lightgrey;
}

.button2{
  color: white;
    margin: 10px;
    font-weight: 640;
    background: linear-gradient(to left, red, darkred);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 12px;
}

.button2:hover{
  background: linear-gradient(to right, red , darkred);
}

.button2:active{
  background: red;
}

.button3{
  margin: 10px;
  font-weight: 640;
  background: linear-gradient(to left, grey, lightgrey);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 12px;
}

.button3:hover{
background: linear-gradient(to right, Grey , lightGrey);
}

.button3:active{
background: lightgrey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
